<div class="uk-container uk-container-small">
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top uk-flex uk-flex-center uk-flex-middle">
      <img src="assets/404.png" width="50%" height="auto" style="background-color: transparent !important;">
    </div>
    <div class="uk-card-body uk-text-center">
      <h1>
        <strong>"Doesn't look like anything to me..."</strong>
      </h1>
      <p>We can put you on the right path. Try heading
        <a routerLink="">Home</a>.</p>
    </div>
  </div>
</div>