<div class="uk-container uk-container-small uk-margin-top">
  <div class="uk-card uk-card-default uk-card-body">
    <a id="github" lass="uk-icon-button uk-button-default" uk-icon="github" href="https://github.com/tylerpcarter/DATIS-Client" target="_blank"></a>
    <div class="uk-child-width-1-2@m" uk-grid>
      <div class="uk-flex uk-flex-center uk-flex-middle">
        <img class="uk-border-circle" width="75%" height="auto" src="assets/tyler.png">
      </div>
      <div>
        <h2 class="uk-text-center">
          <strong>Tyler Carter</strong>
        </h2>
        <p>Hi!
          <br>
          <br>My name is Tyler Carter. I graduated from UNC-Chapel Hill in May 2018 with my bachelor's degree in computer science.
          Since my first year, I've become increasingly motivated to become a strong member of a team that makes a real impact
          on lives. In my free time, I enjoy playing games and spending time with my family.</p>
      </div>
    </div>
    <hr>
    <div>
      <h5>
        <strong>Project Description</strong>
      </h5>
      <p>This web project serves as a full stack CRUD application implementing a RESTful API. A user is able to create, read,
        update, and delete employees and employee data out of a database. Each employee has information on current salary
        and past salaries, all bonuses for the current year, and all deductions for the current year. Finally, the application
        dynamically calculates the employee's take home pay.</p>
    </div>
    <hr>
    <h5>
      <strong>Technologies Used</strong>
    </h5>
    <div class="uk-child-width-1-5@m uk-child-width-1-2" uk-grid>
      <a href="https://nodejs.org/en/" target="_blank">
        <div class="uk-flex uk-flex-center uk-flex-middle">
          <img width="75%" height="auto" src="assets/node.png">
        </div>
      </a>
      <a href="https://mariadb.org/" target="_blank">
        <div class="uk-flex uk-flex-center uk-flex-middle">
          <img width="75%" height="auto" src="assets/maria.png">
        </div>
      </a>
      <a href="http://docs.sequelizejs.com/" target="_blank">
        <div class="uk-flex uk-flex-center uk-flex-middle">
          <img width="75%" height="auto" src="assets/sequelize.png">
        </div>
      </a>
      <a href="https://angular.io/" target="_blank">
        <div class="uk-flex uk-flex-center uk-flex-middle">
          <img width="75%" height="auto" src="assets/angular.png">
        </div>
      </a>
      <a href="https://getuikit.com/" target="_blank">
        <div class="uk-flex uk-flex-center uk-flex-middle">
          <img width="75%" height="auto" src="assets/uikit.png">
        </div>
      </a>
    </div>
  </div>
</div>