<div uk-slider="autoplay: true">
    <ul class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s">
        <li>
            <img src="assets/canyon.png" alt="">
            <div class="uk-position-center uk-panel">
                <h2 style="color: white !important; font-weight: bold;">FIND YOUR STORY</h2>
            </div>
        </li>
        <li>
            <img src="assets/ice.png" alt="">
            <div class="uk-position-center uk-panel">
                <h2 style="color: black !important; font-weight: bold;">FACE YOUR FEAR</h2>
            </div>
        </li>
        <li>
            <img src="assets/forest.png" alt="">
            <div class="uk-position-center uk-panel">
                <h2 style="color: white !important; font-weight: bold;">LIVE YOUR DREAM</h2>
            </div>
        </li>
        <li>
            <img src="assets/canyon.png" alt="">
            <div class="uk-position-center uk-panel">
                <h2 style="color: white !important; font-weight: bold;">FIND YOUR STORY</h2>
            </div>
        </li>
        <li>
            <img src="assets/ice.png" alt="">
            <div class="uk-position-center uk-panel">
                <h2 style="color: black !important; font-weight: bold;">FACE YOUR FEAR</h2>
            </div>
        </li>
        <li>
            <img src="assets/forest.png" alt="">
            <div class="uk-position-center uk-panel">
                <h2 style="color: white !important; font-weight: bold;">LIVE YOUR DREAM</h2>
            </div>
        </li>
    </ul>
    <div class="uk-container uk-margin-large-top">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="">
                        <strong>Welcome</strong>
                    </h3>
                    <p>To the premier employee managment platform for DELOS. Here you can create employee records and save data
                        like salaries, bonuses and deductions.</p>
                    <p>To view the current list of employees,
                        <a routerLink="employees">click here</a>.</p>
                    <p>For your convenience, we have included the live status of each of our six parks. If you are visiting
                        our corporate destination office and have heard of reports of several anomilies, do not worry; we
                        have our parks and hosts under control!</p>
                </div>
            </div>
            <div>
                <div class="uk-child-width-1-2@s" uk-grid>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <div></div>
                            <div class="uk-grid">
                                <div class="uk-width-3-4">
                                    <h6 class="">PARK ONE</h6>
                                </div>
                                <div class="uk-width-1-4 uk-flex uk-flex-center uk-flex-middle">
                                    <div class="status animate-flicker status-ok"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <div></div>
                            <div class="uk-grid">
                                <div class="uk-width-3-4">
                                    <h6 class="">PARK TWO</h6>
                                </div>
                                <div class="uk-width-1-4 uk-flex uk-flex-center uk-flex-middle">
                                    <div class="status animate-flicker status-ok"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <div></div>
                            <div class="uk-grid">
                                <div class="uk-width-3-4">
                                    <h6 class="">PARK THREE</h6>
                                </div>
                                <div class="uk-width-1-4 uk-flex uk-flex-center uk-flex-middle">
                                    <div class="status animate-danger status-failure"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <div></div>
                            <div class="uk-grid">
                                <div class="uk-width-3-4">
                                    <h6 class="">PARK FOUR</h6>
                                </div>
                                <div class="uk-width-1-4 uk-flex uk-flex-center uk-flex-middle">
                                    <div class="status animate-flicker status-ok"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <div></div>
                            <div class="uk-grid">
                                <div class="uk-width-3-4">
                                    <h6 class="">PARK FIVE</h6>
                                </div>
                                <div class="uk-width-1-4 uk-flex uk-flex-center uk-flex-middle">
                                    <div class="status  animate-danger status-failure"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <div></div>
                            <div class="uk-grid">
                                <div class="uk-width-3-4">
                                    <h6 class="">PARK SIX</h6>
                                </div>
                                <div class="uk-width-1-4 uk-flex uk-flex-center uk-flex-middle">
                                    <div class="status animate-flicker status-ok"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>